& when (@media-common = true) {
    .owl-carousel-wrapper {
        width: 100%;
        .owl-carousel {
            .owl-item {
                .item {
                    height: 200px;
                    min-width: 250px;
                    background-color: blue;
                    border: 5px solid red;
                    color: #fff;
                    font-size: 28px;
                }
            }

            .owl-nav button.owl-next, .owl-nav button.owl-prev, button.owl-dot {
                background: blue;
                font-size: 20px;
                padding: 10px !important;
                color: #fff;
            }
        }
    }
}
