@font-family-name__base: 'Open Sans';
@icon-error: '\e61f';
@icon-success: '\e60e';
@icon-edit: '\e601';
@icon-print: '\e624';
@icon-star-empty: '\e625';
@icon-download: '\e626';
@icon-private: '\e629';
@icon-present: '\e62a';
@icon-gift-registry: '\e62b';

@icon-calendar__font-size: 23px;
@block-items__counter__color: @color-gray43;

@button-primary__background: #000;
@sidebar__background-color: aqua;
@family-name: @font-family-name__base;
// @family-name: Arial, sans-serif;
// @font-family-name__base: Arial, sans-serif;
